<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29870793785-cbukkpep5lbhr956243et60odp5hfno5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29870793785-cbukkpep5lbhr956243et60odp5hfno5</string>
	<key>API_KEY</key>
	<string>AIzaSyCmHwLO7l5ove6T4o8pzjKPTymSgYgjZvU</string>
	<key>GCM_SENDER_ID</key>
	<string>29870793785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubex.yourSalonApp</string>
	<key>PROJECT_ID</key>
	<string>your-salon-new</string>
	<key>STORAGE_BUCKET</key>
	<string>your-salon-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29870793785:ios:7719193eb7731d08</string>
	<key>DATABASE_URL</key>
	<string>https://your-salon-new.firebaseio.com</string>
</dict>
</plist>